{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Prepascience</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
</head>
<body style=" background-color: #232630;" >
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1B68F0;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> Projets <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Groupes </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Aide </a>
            </li>

            <!--<li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
            <li class="nav-item dropdown" style="alignment: right">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Se connecter</a>
                    <a class="dropdown-item" href="#">Creer un compte</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<main role="main"  style="padding-left: 0px;padding-right: 0px;margin-top: inherit">
    <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px">
             <div class="container">
                 <h1 class="display-4">PREPASCIENCE</h1>
                 <p class="lead">Bienvenue sur le site Prepascience,</p>
                 <p>Sur ce site vous pourrez créer et gérer vos projets tel que des travaux pratiques ou autre,
                 vous pourrez également inviter d'autre utilisateur a travaillez sur vos projets par l'entremise de la création de groupe.</p>
            </div>
            </div>


    <div class="container-fluid" style="padding-top:2rem;padding-bottom:2rem;background-color: #FFFFFF;border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem">
    <ul>
        {% for j in list %}
            {%  for i in personnes %}
                <li>{{ i.prenom }}</li>
                <li>{{ i.nom }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
</main>
<div class="container-fluid">
    c<br>o<br>n<br>t<br>a<br>c<br>t
</div>


<!-- /.container -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>