{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Librairie d'icônes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Matériel</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
</head>
<body style=" background-color: #232630;" >
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1B68F0;border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem ">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-folder-open"> </i> Projets </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/materiel/"> <i class="fas fa-toolbox"></i> Matériel </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-question"></i> Aide </a>
            </li>

            <!--<li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
            </ul>
            <div align="right" class="navbar-nav">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Login</a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Se connecter</a>
                    <a class="dropdown-item" href="#">Creer un compte</a>
                </div>
            </div>


    </div>
</nav>

<main role="main"  style="padding-left: 0px;padding-right: 0px;padding-top: 4rem;padding-bottom: 4rem; background-color: #FFFFFF;border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem">
    <div class="container-fluid" align="right">
    <form class="form-inline"  action="/materiel" method="GET" style="display:block;margin-top: 2rem;margin-bottom: 2rem">
      <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Recherche" id="recherche" name="form" value="{{recherche}}">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
    </form>
    </div>
    <div class="accordion" id="listeMateriaux">
    {% if l == 0 %}
        <div align="center">Aucun élément ne correspond à votre recherche</div>
    {% endif %}
    {% for i in mat %}
  <div class="card">
  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="true" aria-controls="collapse{{i.id}}" style="padding: 0px">
    <div class="card-header" id="heading{{i.id}}" style="background-color: #1B68F0;color:#FFFFFF;transition-duration: 1s" onmouseover="this.style.background='#3D7EF1'" onmouseout="this.style.background='#1B68F0'">
        <h2 class="mb-0" style="color:#FFFFFF">
          {{ i.nom }}
      </h2>
        <h4 class="mb-0" style="color:#FFFFFF; position:relative" align="right">
          {{ i.type }}
      </h4>
    </div>
  </button>

    <div id="collapse{{i.id}}" class="collapse" aria-labelledby="heading{{i.id}}" data-parent="#listeMateriaux" style="background-color: #E3F2FD">
      <div class="card-body">
        {{ i.description }}
      </div>
    </div>
  </div>
    {% endfor %}
</div>
{% if l < 10 %}
    <div style="margin-bottom: 25rem"></div>
{% endif %}
</main>
<div class="container-fluid">
    <p style="color: white">Contact</p>
</div>


<!-- /.container -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>



