{% load static %}
{% if user.is_authenticated %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Librairie d'icônes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Projets</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
</head>
<body style=" background-color: #232630;" >
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1B68F0;border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem ">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-folder-open"> </i> Projets</a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="/projets/">Mes Projets</a>
                    <a class="dropdown-item" href="/ajoutProjet">Créer un projet</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/materiel/?form="> <i class="fas fa-toolbox"></i> Matériel </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-question"></i> Aide </a>
            </li>

            <!--<li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
            </ul>
            {% if user.is_authenticated  %}
            <div align="right" class="navbar-nav">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user-circle"></i> {{ request.user.username }}</a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdown01">
                     <a class="dropdown-item" href="/profil/">Voir mon profil</a>
                     {% if user.is_staff %}
                    <a class="dropdown-item" href="/demandead/">Demande</a>
                        {% else %}
                     <a class="dropdown-item" href="/demande/">Demande</a>
                        {% endif %}
                    <a class="dropdown-item" href="/logout/">Deconnexion</a>
                </div>
            </div>
            {% else %}
               <div align="right" class="navbar-nav">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Login</a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/login/">Se connecter</a>
                    <a class="dropdown-item" href="">Creer un compte</a>
                </div>
            </div>
            {% endif %}


    </div>
</nav>

<main role="main"  style="padding-left: 0px;padding-right: 0px;padding-top: 4rem;padding-bottom: 4rem; background-color: #FFFFFF;border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem">
    <div class="container" align="right">
    <div style="background-color: #1B68F0;margin-bottom: 2rem" align="center" class="shadow-lg p-3 mb-5 text-white"><h4>Projets dont vous êtes le chef</h4></div>


    <div class="accordion" id="projetsChef">
    {% for i in pchef %}
  <div class="card">
  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="true" aria-controls="collapse{{i.id}}" style="padding: 0px">
    <div class="card-header" id="heading{{i.id}}" style="background-color: #56C9FF;color:#FFFFFF;transition-duration: 0.5s;text-decoration: none;" onmouseover="this.style.background='#1B68F0'" onmouseout="this.style.background='#56C9FF'">
        <h2 class="mb-0" style="color:#FFFFFF">
          {{ i.nom }}
      </h2>
        <h4 class="mb-0" style="color:#FFFFFF; position:relative" align="right">
          {{ i.type }}
      </h4>
    </div>
  </button>

    <div id="collapse{{i.id}}" class="collapse" aria-labelledby="heading{{i.id}}" data-parent="#projetsChef" style="background-color: #E3F2FD" align="left">
      <div class="card-body">
      <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse0{{ i.id }}" aria-expanded="false" aria-controls="collapse0{{ i.id }}">
            Collaborateurs
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse0a{{ i.id }}" aria-expanded="false" aria-controls="collapse0a{{ i.id }}">
            Materiel du projet
          </button>
      </p>
        <div class="collapse" id="collapse0{{ i.id }}">
          <div class="card card-body">
              <h6>Ajouter un collaborateur :</h6>
          <FORM method="POST" class="form-inline my-2 my-lg-0">



                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="i" value={{ i.id }}>


              <button type="submit" style="margin-left:1rem" class="btn btn-outline-primary my-2 my-sm-0"><h5>Valider</h5></button>

        </FORM>
          <br>
              <h6>nom du chef : </h6>{{ i.chefProjet.username }}
          <br>
          <br>
              <h6>noms des collaborateurs :</h6>
          {% for j in nomcollab %}
            {% if j.projet.id == i.id %}
              {{ j.personne.username }}
                <br>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        <div class="collapse" id="collapse0a{{ i.id }}">
          <div class="card card-body">
            <div align="center">
            <a href="/materiel/?form="><button type="button" class="btn btn-primary">Ajouter du matériel</button></a>
            </div>
            <br>

              <div class="accordion" id="listeMateriaux{{ i.id }}">
                    {% for k in listeMat %}
                        {% if k.projet.id == i.id %}
                          <div class="card">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ i.id }}{{ k.id }}" aria-expanded="true" aria-controls="collapse{{ i.id }}{{ k.id }}" style="padding: 0px">
                            <div class="card-header" id="heading{{ i.id }}{{ k.id }}" style="background-color: #56C9FF;color:#FFFFFF;transition-duration: 0.5s;text-decoration: none;" onmouseover="this.style.background='#1B68F0'" onmouseout="this.style.background='#56C9FF'">
                                <h2 class="mb-0" style="color:#FFFFFF">
                                  {{ k.materiaux.nom }}
                              </h2>
                                <h4 class="mb-0" style="color:#FFFFFF; position:relative" align="right">
                                  {{ k.materiaux.type }}
                              </h4>
                            </div>
                          </button>

                            <div id="collapse{{ i.id }}{{ k.id }}" class="collapse" aria-labelledby="heading{{ i.id }}{{ k.id }}" data-parent="#listeMateriaux{{ i.id }}" style="background-color: #E3F2FD" align="left">
                              <div class="card-body">
                                    <p>
                                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMat1{{ i.id }}{{ k.id }}" aria-expanded="false" aria-controls="collapseMat1{{ i.id }}{{ k.id }}">
                                            Description
                                          </button>
                                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMat2{{ i.id }}{{ k.id }}" aria-expanded="false" aria-controls="collapseMat2{{ i.id }}{{ k.id }}">
                                            Points Importants
                                          </button>
                                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMat3{{ i.id }}{{ k.id }}" aria-expanded="false" aria-controls="collapseMat3{{ i.id }}{{ k.id }}">
                                            Informations générales
                                          </button>
                                    </p>
                                    <div class="collapse" id="collapseMat1{{ i.id }}{{ k.id }}">
                                      <div class="card card-body">
                                        {{ k.materiaux.description }}
                                      </div>
                                    </div>
                                    <div class="collapse" id="collapseMat2{{ i.id }}{{ k.id }}">
                                      <div class="card card-body">
                                        {{ k.materiaux.important }}
                                      </div>
                                    </div>
                                    <div class="collapse" id="collapseMat3{{ i.id }}{{ k.id }}">
                                      <div class="card card-body">
                                        {{ k.materiaux.infoGeneral }}
                                      </div>
                                    </div>

                              </div>
                            </div>
                          </div>
                        {% endif %}
                    {% endfor %}
              </div>



          </div>
        </div>
      <br>
        {{ i.description }}
      </div>
    </div>
  </div>
    {% endfor %}
</div>

    <div style="background-color: #1B68F0;margin-bottom: 2rem;margin-top: 5rem" align="center" class="shadow-lg p-3 mb-5 text-white"><h4>Projets dans lequels vous collaborez</h4></div>

    <div class="accordion" id="projetsCollab">
    {% for i in pcollab %}
  <div class="card">
  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2{{i.id}}" aria-expanded="true" aria-controls="collapse2{{i.id}}" style="padding: 0px">
    <div class="card-header" id="heading2{{i.id}}" style="background-color: #56C9FF;color:#FFFFFF;transition-duration: 0.5s;text-decoration: none;" onmouseover="this.style.background='#1B68F0'" onmouseout="this.style.background='#56C9FF'">
        <h2 class="mb-0" style="color:#FFFFFF">
          {{ i.projet.nom }}
      </h2>
        <h4 class="mb-0" style="color:#FFFFFF; position:relative" align="right">
          {{ i.projet.type }}
      </h4>
    </div>
  </button>

    <div id="collapse2{{i.id}}" class="collapse" aria-labelledby="heading2{{i.id}}" data-parent="#projetsCollab" style="background-color: #E3F2FD" align="left">
      <div class="card-body">
          <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1{{ i.id }}" aria-expanded="false" aria-controls="collapse1{{ i.id }}">
            Collaborateurs
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1a{{ i.id }}" aria-expanded="false" aria-controls="collapse1a{{ i.id }}">
            Materiel du projet
          </button>
      </p>
        <div class="collapse" id="collapse1{{ i.id }}">
          <div class="card card-body">


              <h6>nom du chef :</h6> {{ i.projet.chefProjet.username }}
          <br>
          <br>
              <h6>noms des collaborateurs :</h6>

          {% for j in nomcollab %}
            {% if j.projet.id == i.projet.id %}
              {{ j.personne.username }}
                <br>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      <div class="collapse" id="collapse1a{{ i.id }}">
      <div class="card card-body">
        <div class="accordion" id="listeMateriaux{{ i.id }}">
                    {% for k in listeMat %}
                        {% if k.projet.id == i.projet.id %}
                          <div class="card">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ i.id }}{{ k.id }}" aria-expanded="true" aria-controls="collapse{{ i.id }}{{ k.id }}" style="padding: 0px">
                            <div class="card-header" id="heading{{ i.id }}{{ k.id }}" style="background-color: #56C9FF;color:#FFFFFF;transition-duration: 0.5s;text-decoration: none;" onmouseover="this.style.background='#1B68F0'" onmouseout="this.style.background='#56C9FF'">
                                <h2 class="mb-0" style="color:#FFFFFF">
                                  {{ k.materiaux.nom }}
                              </h2>
                                <h4 class="mb-0" style="color:#FFFFFF; position:relative" align="right">
                                  {{ k.materiaux.type }}
                              </h4>
                            </div>
                          </button>

                            <div id="collapse{{ i.id }}{{ k.id }}" class="collapse" aria-labelledby="heading{{ i.id }}{{ k.id }}" data-parent="#listeMateriaux{{ i.id }}" style="background-color: #E3F2FD" align="left">
                              <div class="card-body">
                                    <p>
                                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMat1{{ i.id }}{{ k.id }}" aria-expanded="false" aria-controls="collapseMat1{{ i.id }}{{ k.id }}">
                                            Description
                                          </button>
                                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMat2{{ i.id }}{{ k.id }}" aria-expanded="false" aria-controls="collapseMat2{{ i.id }}{{ k.id }}">
                                            Points Importants
                                          </button>
                                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMat3{{ i.id }}{{ k.id }}" aria-expanded="false" aria-controls="collapseMat3{{ i.id }}{{ k.id }}">
                                            Informations générales
                                          </button>
                                    </p>
                                    <div class="collapse" id="collapseMat1{{ i.id }}{{ k.id }}">
                                      <div class="card card-body">
                                        {{ k.materiaux.description }}
                                      </div>
                                    </div>
                                    <div class="collapse" id="collapseMat2{{ i.id }}{{ k.id }}">
                                      <div class="card card-body">
                                        {{ k.materiaux.important }}
                                      </div>
                                    </div>
                                    <div class="collapse" id="collapseMat3{{ i.id }}{{ k.id }}">
                                      <div class="card card-body">
                                        {{ k.materiaux.infoGeneral }}
                                      </div>
                                    </div>

                              </div>
                            </div>
                          </div>
                        {% endif %}
                    {% endfor %}
              </div>
      </div>
    </div>
        <br>
        {{ i.projet.description }}
      </div>
    </div>
  </div>
    {% endfor %}
    </div>
    </div>
</main>


<!-- /.container -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>



{% else %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Librairie d'icônes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Veuillez vous authentifier</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
</head>
<body class="text-center" style="background-color: #232630" >
    <div class="container-sm" style="padding-top:2rem;padding-bottom:2rem;background-color: #FFFFFF;border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem;border-top-left-radius: 1rem;border-top-right-radius: 1rem;margin-top: 16rem">
    <form class="form-signin" style="margin: auto;padding-left: 20%;padding-right: 20%"  method="post">
        {% csrf_token %}

     <img src="{% static 'images/logo.png' %}" width="72" height="72" alt="">
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous authentifier pour continuer</h1>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="display: block">
          <div class="btn-group mr-2" role="group" aria-label="First group">
              <a href="/"><button type="button" style="background-color: #1B68F0; color: white; margin-top: 2rem" class="btn">Accueil</button></a>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
              <a href="/login"><button type="button" style="background-color: #1B68F0; color: white; margin-top: 2rem" class="btn">Se connecter</button></a>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
              <a href="/ajoutProfil"><button type="button" style="background-color: #1B68F0; color: white; margin-top: 2rem" class="btn">Creer un compte</button></a>
          </div>
        </div>
        <br>
    </form>
    </div>
</body>
</html>
{% endif %}


